/* header {
    background-color: #232b2b;
    height: 50px;
    color: white;
} */

.logo-brand {
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo {
    height: 48px;
}

.nav-items {
    align-items: center;
    display: flex;
    justify-content: left;
}

.h {
    display: flex;
    justify-content: space-between;
}

a {
    color: black;
    text-decoration: none;
}